/*DARK THEME WITH WHITE TEXT*/

:root { --main-txt-color: #d3d7de; --main-box-color: #11111199;}

h3   { color: var(--main-txt-color) }
a    { color: var(--main-txt-color) }
p    { text-indent: 30px;}
div.bigbox { background-color: var(--main-box-color) }

body { 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
	background-color: #000000; 
	background-size: cover;
	background-attachment: fixed;
	background-image: url('../media/photos/wp1.jpg');
	color: var(--main-txt-color);
	line-height:1.5em;
}

h1   { font-family: "Times New Roman", Times, serif; }

h1.language  {
	font-size:3em
}


div.bigbox {
	width: 40em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 17px; 
	margin-bottom: 17px;

	border: 1px solid #9b977b; 
	padding: 8px 3em 17px 3em; 
	font-size: 16px; 
	text-align: justify
}

img.avatar {
	border-radius: 50%;
}

table.log, th.log {
	border: 0.1em solid gray;
	border-collapse: collapse;
	text-align: left;
	padding: 1em 1em 1em 1em;
}

p.logtext {
	font-weight: 300;
}

div.pic {
	font-size:0px;
	width:0px;
	height:0px;
}
	



