/* Reset default browser styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    height: 100%;
  }
  
  /* Set body background color */
  body {
    min-height: 100%;
    font-family: Times New Roman;
  }
  
  /* Style the navigation */
  nav {
    margin: 0 auto;
    text-align: left;
  }
  
  a, .a {
    color: #0084ff;
    text-decoration: none;
  }
  
  nav a {
    font-size: 16px;
    line-height: 1.5;
    margin-right: 1em;
    display: inline-block;
  }
  
  /* Style the content */
  .content {
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 10px;
    cursor: default;
  }
  
  .content main, .content nav {
    max-width: 860px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 auto;
  }
  
  .content h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.2;
  }
  
  .content h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.2;
  }
  
  .content h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.2;
  }
  
  .content p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    line-height: 2em;
  }
  
  .content img {
    max-width: 100%;
    height: auto;
  }

  .content a .button {
    margin-bottom: 0;
    width: 88px;
    height: 31px;
    display: inline-block;
  }

  .content a.button span {
    background-color: #9aa8bf;
    color:white;
    height: 31px;
    width: 88px;
    display: inline-block;
    position: relative;
    overflow: hidden;
  }
  
  .content blockquote {
    margin: 0;
    padding: 10px;
    background-color: #f6f6f6;
    border-left: 4px solid #d1d1d1;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    font-style: italic;
  }
  
  table {
    width: -webkit-fill-available;
    border-collapse: collapse;
    margin-bottom: 1em;
    table-layout: fixed;
  }
  
  th,
  td {
    text-align: left;
    vertical-align: top;
    border: 1px solid #ddd;
    padding: 1em;
    word-wrap: break-word;
  }
  
  th:empty {
    display: none;
  }
  
  tbody tr {
    display: table-row;
  }
  
  tbody td {
    display: table-cell;
  }
  
  th:empty {
    display: none;
  }
  
  ul, ol {
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
  }
  
  li {
    margin: 0;
    margin-left: 1em;
    margin-bottom: 0.8em;
    padding: 0;
    line-height: 1.6;
  }
  
  footer {
    bottom: 0;
    width: 100%;
    padding: 0.5em;
    text-align: center;
    color:slategray;
    height:30px
  }

  .wrapper {
    min-height: calc(100vh - 30px);
  }

  h1, h2, h3, h4 {
    margin-top: 0.5em;
  }
  
  @media only screen and (max-width: 768px) {
    /* Adjust font sizes for smaller screens */
    nav a {
      font-size: 16px;
      margin-right: 0.5em;
    }
    .content h1 {
      font-size: 28px;
    }
    .content h2 {
      font-size: 24px;
    }
    .content h3 {
      font-size: 20px;
    }
    .content p {
      font-size: 16px;
    }
    .content blockquote {
      font-size: 16px;
    }
    /* Remove background color and padding for mobile */
    html {
      font-size: 16px;
    }
    .content {
      padding: 1em;
      max-width: none;
      margin: 0;
    }
  }

  @media print {
    .content main, .content nav {
      max-width:none;
    }
  }
  

  html, body {
    height: 100%;
  }

  code {
    background-color: #e6e6e6;
  }

  pre code {
    display: block;
    margin-bottom: 1.5em;
    word-wrap:break-word;
    overflow: auto;
    padding: 1em;
  }

  main p:has(img) {
    text-align: center;
  }

  .toc {
    margin-bottom: 2em;
  }

  .toc li, .toc ul {
    margin-bottom: 0px;
  }

  .categoryTag {
    border-radius: 2em;
    border: 1px solid gray;
    padding-inline: 0.4em;
    padding-block: 0.1em;
    display: inline-block;
    color: gray;
    font-family: monospace;
    margin-bottom: 1em;
  }

  .postTitle {
    margin-bottom: 1em;
  }

  .dateTab {
    margin-top:1em;
    margin-bottom:1em;
    font-size:1.3em;
  }

  .postPreview {
    margin-bottom: 3em;
  }

  .previewHref {
    text-decoration: none !important;
    color: inherit;
  }

  .previewHref:hover {
    color: inherit;
  }

  .preview-title {
    font-size: 1.9em;
    margin-bottom: 0.5em;
  }

  nav img.avatar {
    width:40%; 
    max-width:180px;
    margin-bottom:0;
  }

  .postsListWrapper {
    text-align: left;;
  }

  nav .postsListWrapper {
    display: none;;
  }

  main h2, main h3, main h4 {
    cursor: pointer;
  }
  main h2:after, main h3:after, main h4:after {
    content: " 🔗";
  }

  @media only screen and (min-width: 1208px) {
    .content {
      /* display: inline-block; commented for onecolumn layout */
      vertical-align: top;
    }

    nav a {
      /* display: block; commented for onecolumn layout*/
    }

    nav .postTitle a {
      display: unset;
    }

    nav hr {
      /* display: none; commented for onecolumn layout */
    }

    nav img.avatar {
      width: unset;
    }

    nav {
      padding-top: 1em;
      /* width: 20em; commented for onecolumn layout */
    }

    nav .postTitle {
      margin-bottom: unset;
    }

    .wrapper {
      width: fit-content;
      margin: auto;
    }

    main {
      width:55em;
    }

    nav .postsListWrapper {
      display: hidden;
    }

    .content {
      /* padding-top: 3em; commented for onecolumn layout */
    }
  }

@media (prefers-color-scheme: dark) {
  body {
    background-color: #0c0c0c;
    color: lightgrey;
  }
  a, .a {
    color: #d68744;
  }
  code {
    background-color: #2e2e2e;
  }
  main > p > img, .postPreview img {
    border: 9px solid #2e2e2e;
  }
  .content blockquote {
    background-color: #171717;
    border-left: 4px solid #6b6b6b;
  }
}


/* TWO COLUMNS LAYOUT */
@media only screen and (min-width: 1208px) {
  .content {
    display: inline-block;
  }
  nav a {
    display: block; 
  }
  nav hr {
    display: none; 
  }
  nav {
    width: 20em; 
  }
  .content {
    padding-top: 3em; 
  }
}
