<!DOCTYPE html>
<html>
    <head>
        <title>{{ context.title }}</title>
        {% include "style.html" %}
    </head>

    <body>
        {% include "header.html" %}
        <div class="articleContainer">
            <article>
                <div class="container">
                    {% include "idmeta.html" %}
                    <div class="article">
                        {% for object in context.body %}
                        <{{ object.type }}
                        {% if object.src %}
                        src={{ object.src }}
                        {% endif %}
                        >
                        {{ object.content }}
                        </{{ object.type }}>
                        {% endfor %}

                        {% for social in context.socials %}
                            <span>{{social.name}}</span>
                            <span>-</span>
                            <span>
                                <a href="{{social.href}}" style="text-decoration: none !important;">
                                    {{social.href}}
                                </a>
                            </span>
                        <br>
                        {% endfor %}
                        <!-- The css breaks if I don't have this don't ask me why -->
                        <p style="visibility: hidden">::1 - - [11/Nov/2022 22:30:22] "GET /blog/blog.html HTTP/1.1" 304 -
                        </p>
                        
                    </div>
                </div>
                
            </article>
        </div>
        
        
    </body>

</html>