<div class="meta">
    <span class="info">
        <h1>{{context.title}}</h1>
        {% include "directory.html" %}
        <p class="subtitle">{{context.subtitle}}</p>
        <div class="author">
            {% if context.authorImage %}
            <div class="authorImage"></div>
            {% endif %}
            <div class="authorInfo">
                <div class="authorName">
                    {{context.authorName}}
                </div>
                <!-- DATE TIME -->
                {%if context.date or context.time %}
                <div class="authorSub">
                    {{context.date}}
                    <span class="median-divider">
                    {% if context.date and context.time %}·{% endif %}
                    </span> 
                    {{context.time}}
                </div>
                <!-- LEFT RIGHT -->
                {%elif context.subname_left or context.subname_right %}
                <div class="authorSub">
                    {{context.subname_left}}
                    <span class="median-divider">
                    {%if context.subname_left and context.subname_right %}·{% endif %}
                    </span> 
                    {{context.subname_right}}
                </div>
                {% endif %}
            </div>
        </div>
        <span></span>
    </span>
</div>