/* Reset default browser styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    /* font-family: Inter,-apple-system,BlinkMacSystemFont,Roboto,Segoe UI,Helvetica,Arial,sans-serif; */
    font: 300 16px 'Merriweather Sans', sans-serif;
    background-color: #fafbfc;
    color: #323e4d;
  }
  
  /* Style the navigation */
  nav {
    margin: 0 auto;
    text-align: left;
  }
  
  a, .a {
    color: #0084ff;
    text-decoration: none;
  }
  
  nav a {
    font-size: 16px;
    line-height: 1.5;
    margin-right: 1em;
    display: inline-block;
  }
  
  /* Style the content */
  .content {
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 10px;
    cursor: default;
  }
  
  .content main, .content nav {
    max-width: 860px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 auto;
  }
  
  .content h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.2;
  }
  
  .content h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.2;
  }
  
  .content h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.2;
  }
  
  .content p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    line-height: 2em;
  }
  
  .content img {
    max-width: 100%;
    height: auto;
  }

  .content a .button {
    margin-bottom: 0;
    width: 88px;
    height: 31px;
    display: inline-block;
  }

  .content a.button span {
    background-color: #9aa8bf;
    color:white;
    height: 31px;
    width: 88px;
    display: inline-block;
    position: relative;
    overflow: hidden;
  }
  
  .content blockquote {
    margin: 0;
    padding: 10px;
    background-color: #f6f6f6;
    border-left: 4px solid #d1d1d1;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    font-style: italic;
  }
  
  table {
    width: -webkit-fill-available;
    border-collapse: collapse;
    margin-bottom: 1em;
    table-layout: fixed;
  }
  
  th,
  td {
    text-align: left;
    vertical-align: top;
    border: 1px solid #ddd;
    padding: 0.5em;
    word-wrap: break-word;
  }
  
  th:empty {
    display: none;
  }
  
  tbody tr {
    display: table-row;
  }
  
  tbody td {
    display: table-cell;
  }
  
  th:empty {
    display: none;
  }
  
  ul, ol {
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
  }
  
  li {
    margin: 0;
    margin-left: 1em;
    margin-bottom: 0.8em;
    padding: 0;
    line-height: 1.6;
  }
  
  footer {
    bottom: 0;
    width: 100%;
    padding: 0.5em;
    text-align: center;
    color:slategray;
    height:30px
  }

  .wrapper {
    min-height: calc(100vh - 30px);
  }

  h1, h2, h3, h4 {
    margin-top: 0.5em;
  }
  
  @media only screen and (max-width: 768px) {
    /* Adjust font sizes for smaller screens */
    nav a {
      font-size: 16px;
      margin-right: 0.5em;
    }
    .content h1 {
      font-size: 28px;
    }
    .content h2 {
      font-size: 24px;
    }
    .content h3 {
      font-size: 20px;
    }
    .content p {
      font-size: 16px;
    }
    .content blockquote {
      font-size: 16px;
    }
    /* Remove background color and padding for mobile */
    html {
      font-size: 16px;
    }
    .content {
      padding: 1em;
      max-width: none;
      margin: 0;
    }
  }

  html, body {
    height: 100%;
  }

  code {
    background-color: #e6e6e6;
  }

  pre code {
    display: block;
    margin-bottom: 1.5em;
    word-wrap:break-word;
    overflow: auto;
    padding: 1em;
  }

  code * {
    border: none !important;
  }

  main p:has(img) {
    text-align: center;
  }

  .toc {
    margin-bottom: 2em;
  }

  .toc li, .toc ul {
    margin-bottom: 0px;
  }

  .categoryTag {
    border-radius: 2em;
    border: 1px solid gray;
    padding-inline: 0.4em;
    padding-block: 0.1em;
    display: inline-block;
    color: gray;
    font-family: monospace;
    margin-bottom: 1em;
  }

  .postTitle {
    margin-bottom: 1em;
  }

  .dateTab {
    margin-top:1em;
    margin-bottom:1em;
    font-size:1.3em;
  }

  .postPreview {
    margin-bottom: 3em;
  }

  .previewDate {
    font-size: 0.8em;
    margin-bottom: 10px;
  }
  .previewHref {
    display: block;
    text-decoration: none !important;
    color:inherit
  }
  .previewHref:hover {
    color: inherit;
  }
  .preview-title {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  nav img.avatar {
    width:40%; 
    max-width:180px;
    margin-bottom:0;
    border-radius: 20px;
    border-bottom-right-radius: 90px;
    border-top-left-radius: 90px;
  }

  nav p {
    text-align: right;
  }

  .postsListWrapper {
    text-align: left;;
  }

  nav .postsListWrapper {
    display: none;;
  }

  main h2, main h3, main h4 {
    cursor: pointer;
  }
  main h2:hover:after, main h3:hover:after, main h4:hover:after {
    content: " 🔗";
    font-size:0.7em;
    vertical-align:top;
  }

  @media print {
    .content main, .content nav {
      max-width:none;
    }
  }
  textarea {
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1em;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Fira Sans';
    src: url('/static/fonts/FiraSans-Bold.ttf') format('truetype');
  }

  h1, h2, h3 {
    font-family: Fira Sans;
  }

  @media only screen and (min-width: 1208px) {
    .content {
      /* display: inline-block; commented for onecolumn layout */
      vertical-align: top;
    }

    nav a {
      /* display: block; commented for onecolumn layout*/
    }

    nav .postTitle a {
      display: unset;
    }

    nav hr {
      /* display: none; commented for onecolumn layout */
    }

    nav img.avatar {
      width: unset;
    }

    nav {
      padding-top: 1em;
      /* width: 20em; commented for onecolumn layout */
    }

    nav .postTitle {
      margin-bottom: unset;
    }

    .wrapper {
      width: fit-content;
      margin: auto;
    }

    main {
      width:55em;
    }

    nav .postsListWrapper {
      display: hidden;
    }

    .content {
      /* padding-top: 3em; commented for onecolumn layout */
    }
  }

/* @media (prefers-color-scheme: dark) {
  body {
    background-color: #0c0c0c;
    color: lightgrey;
  }
  a, .a {
    color: #d68744;
  }
  code {
    background-color: #2e2e2e;
  }
  main > p > img, .postPreview img {
    border: 9px solid #2e2e2e;
  }
  .content blockquote {
    background-color: #171717;
    border-left: 4px solid #6b6b6b;
  }
  textarea {
    background-color: #222;
    color: darkorange;
  }
  .previewDate {
    background-color: #3b3b3b;
  }
} */

.previewHref {
  display: block;
  text-decoration: none;
}
.preview-title {
  font-size: 1.2em;
  margin-bottom: 10px;
}



/* TWO COLUMNS LAYOUT */
@media only screen and (min-width: 1340px) {
  .content {
    display: inline-block;
  }
  nav a {
    display: block; 
  }
  nav hr {
    display: none; 
  }
  nav {
    width: 18em; 
    position:fixed;
    left:calc(0px + 50vw - 700px);
  }
  nav p {
    text-align: left;
  }
  .content {
    padding-top: 3em; 
  }
}

    /* google search */
    table[class^="gsc-"], table[class*=" gsc-"], th[class^="gsc-"], th[class*=" gsc-"], td[class^="gsc-"], td[class*=" gsc-"] {
        padding: unset;
        word-wrap: normal;
        table-layout: unset;
        border: unset;
    }

    .gsc-input-box {
        border:unset !important;
    }

    .gsc-search-button {
        vertical-align: unset;
    }

    .gsc-input {
        background: none !important;
    }
