div.wrapper {
  max-width: 50em;
  margin: auto;
}

div {
  padding: 0.5em;
  font-family: math;
}

hr {
  padding: unset;
}

a {
  color: mediumblue;
  text-decoration: none;
  font-weight: bold;
}

img {
  max-width: 100%;
}

div.categoryTag {
  border: 1px solid grey;
  display: inline-block;
}

table, tr, td, th {
  border: 1px solid;
  margin: 1em;
}

a.button > span, a.button > img {
  display:inline-block;
  height: 31px;
  width: 80px;
  margin: 0.2em;
  border: 1px solid;
  overflow: hidden;
}

nav a {
  margin-right:0.3em;
}
