<!DOCTYPE html>
<html>
    <head>
        <title>{{ context.title }}</title>
        {% include "style.html" %}
    </head>

    <body>
        {% include "header.html" %}
        <div class="articleContainer">
            <article>
                <div class="container">
                    {% include "idmeta.html" %}
                    <div class="article">
                        {% for object in context.body %}
                        <{{ object.type }}
                        {% if object.src %}
                        src={{ object.src }}
                        {% endif %}
                        >
                        {{ object.content }}
                        </{{ object.type }}>
                        {% endfor %}

                        {% for social in context.socials %}
                            <div>{{social.name}}</div>
                            <!-- <span>-</span> -->
                            <span>
                                &nbsp;&nbsp;
                                <a rel="me" href="{{social.href}}" style="text-decoration: none !important;">
                                    {{social.display}}
                                </a>
                            </span>
                        <br>
                        {% endfor %}
                                                    <!-- The css breaks if I don't have this don't ask me why -->
                                                    <p style="visibility: hidden">::1 - - [11/Nov/2022 22:30:22] "GET /blog/blog.html HTTP/1.1" 304 -
                                                        ::1 - - [11/Nov/2022 22:30:27] "GET /blog/pages/typo_project.html HTTP/1.1" 304 -
                                                        ::1 - - [11/Nov/2022 22:30:49] "GET /blog/blog.html HTTP/1.1" 304 -
                                                        ::1 - - [11/Nov/2022 22:30:54] "GET /blog/pages/typo_project.html HTTP/1.1" 304 -
                                                        ^C
                                                        
                                                        journalpacifique.json
                                                        Serving HTTP on :: port 8000 (http://[::]:8000/) ...
                                                        ::1 - - [11/Nov/2022 22:41:01] "GET /blog/pages/typo_project.html HTTP/1.1" 200 -
                                                        ::1 - - [11/Nov/2022 22:41:03] "GET /blog_t
                                                    </p>
                        
                    </div>
                </div>
                
            </article>
        </div>
        
        
    </body>

</html>