<!DOCTYPE html>
<html>
    <head>
        <title>{{ context.title }}</title>
        {% include "style.html" %}
    </head>

    <body>
        {% include "header.html" %}
        <div class="articleContainer">
            <article>
                <div class="container">
                    {% include "idmeta.html" %}
                    <div class="article">
                        {% for object in context.body %}
                        <{{ object.type }}
                        {% for attribute, value in object.items() %}
                            {% if attribute in ['src', 'style', 'href']%}
                            {{attribute}}={{ value }}
                            {% endif %}
                        {% endfor %}
                        >
                        {{ object.content|safe }}
                        </{{ object.type }}>
                        {% endfor %}
                    </div>
                </div>
            </article>
        </div>
        
        
    </body>

</html>