:root {
  --primary-color: #304586;
  --secondary-color: #e4bf15;
  --hover-color: #00ff0088;
}

#bodyWrapper {
  max-width:712px;
  margin:auto;
}

#banner {
  width:100%;
}

#keyboard {
  /*background-color: var(--primary-color);*/
  text-align: center;
}

#keyboard table {
  border-spacing: .2em;
  width:80%;
  margin: auto;
}

#keyboard tr {
  background-color: var(--secondary-color);
}

#keyboard td {
  text-align: center;
}

.keysWrapper {
  display: inline-block;
  margin: auto;
}

.kbb {
  height:2em;
  width:5%;
  font-size: 1.2em;
  color: var(--primary-color);
  font-weight: 600;

  margin:3px;

  background-color: #ffffff44;
  border:none;
}

.kbb:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

#txtArea {
  margin:auto;
  width:79%;
  display:block;
  resize: none;
  padding:1em;

  font-size: 1.4em;

  color: transparent;
  text-shadow: 0 0 0 #000000;

  &:focus {
      outline: none;
  }
}

#txtArea:focus {
  box-shadow: 0px 0px 10px 1px var(--secondary-color);
}

a {
  color: var(--primary-color);
  font-weight: bold;
}
